{% extends "base.html" %}
{% block title %}Demo Flask{% endblock %}
{% block page_content %}
<div class="page-header mb-2">
    <h1>Search</h1>
</div>
<div class="container columns is-centered">
    <div class="column is-half">
        <div class="panel is-4" id="tracking">
            <p class="panel-heading mb-2">Tracking Number Lookup</p>
            <form class="field is-grouped has-addons has-addons-centered" action="{{ url_for('main.tracking_search') }}" method="get">
                <div class="control is-expanded px-2">
                    <input type="text" class="input is-small is-info" name="tracking" id="tracking-results">
                </div>
                <div class="control px-2 pb-2">
                    <button type="submit" class="button is-info">Search</button>
                </div>
            </form>
            <div id="trackingcard" class="px-2 pb-2"></div>
            <div id="trackingDiv" class="px-2 pb-2"></div>
        </div>
    </div>
    <div class="column is-half">
        <div class="panel is-4" id="invoice">
            <p class="panel-heading mb-2">Invoice Lookup</p>
            <form class="field is-grouped has-addons has-addons-centered" action="{{ url_for('main.invoice_search') }}" method="get">
                <div class="control is-expanded px-2">
                    <input type="text" class="input is-small is-info" name="invoice" id="invoice-results">
                </div>
                <div class="control px-2 pb-2">
                    <button type="submit" class="button is-info">Search</button>
                </div>
            </form>
            <div id="invoicecard" class="px-2 pb-2"></div>
            <div id="invoiceDiv" class="px-2 pb-2"></div>
        </div>
    </div>
</div>

{% endblock %}